-if notice.present?
  .row
    .col-md-12
      %p#notice
        = notice
.row#breadcrumb
  .col-md-12
    %ol.breadcrumb
      %li
        =link_to 'Home', '/'
      %li.active
        - if @keywords.present?
          Search results for
          =@keywords
        - else
          No search results
- if @search
  .row
    .col-md-12
      %h1
        ="#{@search.total_count} Search results for "
        =@keywords
      -@results.each do |r|
        .col-md-3.col-sm-4.col-xs-6
          =link_to r.decorate.search_display, r
  .row
    .col-md-12
      = paginate @search.results
- else
  .row
    .col-md-12
      %h1
        No search results
