<%= form_for(@county) do |f| %>
  <% if @county.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@county.errors.count, "error") %> prohibited this county from being saved:</h2>

      <ul>
      <% @county.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :county_type %><br>
    <%= f.text_field :county_type %>
  </div>
  <div class="field">
    <%= f.label :county_id %><br>
    <%= f.number_field :county_id %>
  </div>
  <div class="field">
    <%= f.label :fips %><br>
    <%= f.text_field :fips %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
