-if notice.present?
  .row
    .col-md-12
      %p#notice
        = notice
.row#breadcrumb
  .col-md-12
    %ol.breadcrumb
      %li
        =link_to 'Home', '/'
      %li
        =link_to @state.display_name, @state
      - if (@county.present?)
        %li
          =link_to @county.display_name, @county
      %li.active
        Cities
.row
  .col-md-8.col-sm-6
    %h1 
      = 'Cities in ' + (@county.present? ? @county.display_name + ', ' : "") + @state.display_name
    %h2 Description:
    = @state.active_description.description rescue ''
  .col-md-4.col-sm-6.hidden-xs
    #map_div{ 'data-state' => @state.abbreviation, 'data-center-lat' => @state.latitude, 'data-center-long' => @state.longitude, 'data-center-zoom' => @state.zoom }
.row
  .col-md-12
    %h3 
      List of Cities
  -@cities.in_groups_of(4, false).each_with_index do |group, index|
    -group.each do |city|
      .col-md-3.col-sm-4.col-xs-6
        =link_to city.decorate.display_name, city
        =city.decorate.display_capital_info
