#header.row
  %nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
    .container-fluid
      =link_to image_tag('assets/towntidbits.png', alt: 'TownTidbits'), '/', class: 'navbar-brand'
      .collapse.navbar-collapse
        =form_tag '/search', class: 'navbar-form navbar-right', role: 'search', method: 'get' do
          =text_field_tag :search_text, @keywords, :class => 'form-control', placeholder: 'Search'
          - if (@state.present?)
            =hidden_field_tag :state, @state.id.to_s
          - if (@county.present?)
            =hidden_field_tag :state, @county.state.id.to_s
            =hidden_field_tag :county, @county.id.to_s
          =submit_tag :Search, :class => 'btn btn-default'
      
